
<table class="table">
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% workouts.each do |workout| %>
      <tr>
        <td><%= workout.created_at %>
        <td><%= workout.name %></td>
        <td><%= workout.description %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
