<p id="notice"><%= notice %></p>

<p>
  <strong>Date Added:</strong>
  <%= @update.created_at %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @update.weight %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @update.notes %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', profile_updates_path(@profile) %>
