<div class="container">
<div class="show_table">
<table class="table">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Notes</th>
      <th>Date Added</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <td><%= @update.weight %></td>
    <td><%= @update.notes %></td>
    <td><%= @update.created_at.to_formatted_s(:long_ordinal) %></td>
  </tbody>
</table>
</div>
<p>
  <div class="picture_section">
  <% if !@update.pictures.empty? %>
    <% @update.pictures.each do |picture| %>
      <% if !picture.new_record? %>
        <div class="floating_box">
          <div class="pic"><%= image_tag picture.name, size: "175x200", alt: picture.name %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</p>
<div class="new_pic">
<h1 class="header"> Add a New Progress Picture </h1>
<%= render :partial => 'pictures/form', :locals => { :update => @update } %>

<%= link_to 'Back', profile_updates_path(@profile) %>
</div>
</div>
