<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sets</th>
      <th>Repetitions</th>
      <th>Notes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout.exercises.each do |exercise| %>
      <% if !exercise.new_record? %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.sets %></td>
        <td><%= exercise.repetitions %></td>
        <td><%= exercise.notes %></td>
        <td><%= link_to 'Show', exercise %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
