<div class="container">
  <h1 class="header"><%= @exercise.name %></h1>

<p>
  <strong>Sets:</strong>
  <%= @exercise.sets %>
</p>

<p>
  <strong>Repetitions:</strong>
  <%= @exercise.repetitions %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', workout_path(@exercise.workout) %>
</div>
