<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @exercise.sets %>
</p>

<p>
  <strong>Repetitions:</strong>
  <%= @exercise.repetitions %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', workout_path(@exercise.workout) %>
