
<h1>Listing Supplements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplements.each do |supplement| %>
      <tr>
        <td><%= supplement.name %></td>
        <td><%= supplement.profile_id %></td>
        <td><%= link_to 'Show', supplement %></td>
        <td><%= link_to 'Edit', edit_supplement_path(supplement) %></td>
        <td><%= link_to 'Delete', supplement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplement', new_supplement_path %>
